# Regressão Linear - Predição da Idade

### importar bibliotecas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

### ler train.csv e test.csv

In [3]:
train = pd.read_csv('titanic/train.csv')

In [4]:
test = pd.read_csv('titanic/test.csv')

### transformar definir o Id do Passageiro como Index

In [7]:
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [10]:
train.set_index('PassengerId', inplace=True)

In [ ]:
test.set_index('PassengerId', inplace=True)

In [15]:
train.head(1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [16]:
test.head(1)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q

### Verificar shape dos dois

In [19]:
train.shape

(891, 11)

In [20]:
test.shape

(418, 10)

### Criar coluna "Survived" no test set

In [ ]:
test['Survived'] =

### Conferir shape novamente

### Concatenar train e test set

### Traduzir colunas

### Traduzir Sexo

### Averiguar dados nulos

### Remover Cabine

### Checar dados nulos novamente

### Preencher dados nulos de "Embarque" com a moda

### Checar dados nulos novamente

### Preencher "Tarifa" faltando com a média

### Checar dados nulos

### Verificar correlações

### Visualizar correlações com "heatmap"

### Remover coluna "Sobreviveu"
Aparentemente não tem muita correlação com Idade, e está faltando bastante dados

### Checar dados nulos

# Engenharia de Recursos I

### Criar coluna "Titulo" baseando-se na coluna "Nome"

### Traduzir "Titulos"

### Averiguar informações do DataFrame

### Remover "Bilhete" e "Nome"

# Engenharia de Recursos II

### Estudar possibilidade de identificar "meninas" similar aos "meninos"
Através da combinação: "solteira" e está com "pais"

### idade média de "meninas solteiras acompanhadas dos pais"

### verificar distribuição da idade

### Média de mulheres "solteiras"

### Distribuição das idades de mulheres "solteiras"

### Média de idade de mulheres "casadas"

### Distribuição das idades de mulheres "casadas"

### Adicionar coluna "solteira com pais"

### Transformar recursos categóricos em "dummies"

### Separar train e test para idades
* treinar com dados não nulos
* aplicar modelo em dados nulos

## Definir X e y para treinar o modelo

### Importar modelo regressivo

### Instanciar modelo

### Importar train_test_split para preparar para treino

### Dividir 70% para treinar, 30% para testar

### Treinar modelo

### Fazer predição

### Importar mean_squared_error (erro quadrado médio)

### Averiguar score

### Averiguar rmse

### Visualizar resíduos em scatterplot

<a name="tarifa"></a>

### Aplicar modelo nos dados nulos

### Criar coluna Idade contendos as predições

### Averiguar shapes

### Concatenar dados

### Criar DataFrame contendo "IdPassageiro" e "Idade"

### Salvar CSV com idade completa